* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #cfd6e1;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload_section {
  background-color: #fff;
  width: 500px;
  height: 500px;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(99, 99, 99, 0.2);
  padding: 1.5rem;
}

.upload_section h5 {
  color: #5a81da;
  font-size: 1.5rem;
  font-weight: 600;
}

.list_upload {
  margin: 2rem 0;
}

.list_upload li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.info_file {
  width: 70%;
}

.title_file {
  display: flex;
  justify-content: space-between;
}

.title_file span:first-child {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.6rem;
}

.color_5a81da{
  color: #5a81da;
}
.color_a4bffc{
  color: #a4bffc;
}